streamlit
chromadb
google-generativeai
openai
groq
langchain
langchain-core
langchain-community
langchain-google-genai
langchain-openai
langchain_groq
langchain_chroma
langgraph
python-dotenv
pypdf
docx2txt
pys
ipython